


{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	 <a class="navbar-brand" href="#">Directory</a>
   <button type="button" class="btn btn-default navbar-btn">Sign in</button>
  </div>
</nav>
<br>
<br>
<br>


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}




{# Display a form #}
<form action="{% url 'app1:add' %}" method="post">
   {% csrf_token %}
 {% bootstrap_form form layout='inline' %}
 {% bootstrap_form_errors form layout='inline' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "plus" %} Submit
    </button>
  {% endbuttons %}
</form>


<br>
<form method="GET" action="" >
<div class="col-lg-12">
    <div class="input-group">

      <input type="text" name="q" class="form-control" placeholder="Search for..." value='{{ request.GET.q }}'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</form>
  <br>
<br>



<div class="panel panel-default">
  <!-- Default panel contents -->



  <!-- Table -->
  <table class="table table-striped">
    <thead>
    	<tr>
    		<th>#ID</th>

    		<th>#Name</th>
    		<th>#Number</th>
    	</tr>
    </thead>
    <tbody>
  

{% if objects_list %}

    
    {% for object in objects_list %}
    <tr>
    
     <td> <a href="{{ object.get_absolute_url }}"> {{ object.id }} </td> </a>
     <td>  {{ object.name }} </td>
     <td>	{{object.number}} </td>
 </tr>
    {% endfor %}
    
    </tbody>
    </table>
</div>

{% else %}
    <p>No Names and number available.</p>
{% endif %}

